* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html, body, #app {
    height: 100%;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.cookie {
    position: relative;

    .cookie-img {
        width: 100%;
        height: 100%;
        max-width: 1000px;
        max-height: 1000px;
        object-fit: contain;
        cursor: pointer;
    }

    .count {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 48px;
    }
}

.shop {
    header {
        font-size: 28px;
        padding: 16px;
        text-align: center;
    }

    .producers {
        display: flex;
        flex-direction: column;
    }
}

.producer {
    min-width: 300px;
    height: 60px;
    position: relative;
    cursor: pointer;

    .name {
        font-size: 20px;
        position: absolute;
        right: 16px;
        top: 8px;
    }

    .price {
        font-size: 40px;
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
    }

    .production {
        font-size: 16px;
        position: absolute;
        right: 16px;
        bottom: 8px;
    }
}

.notifications {
    min-height: 30px;
}
